body {
    font-family: sans-serif;
}
.kwitansi {
    width: 700px;
    color: #555;
    margin: auto;
    border: 1px solid #1abc9c;
}
.kwitansi p {
    font-size: 0.9em;
    color: #333;
    padding: 20px 0;
    text-align: center;
}
.title-kwitansi {
    text-align: center;
    background: #1abc9c;
}
.kwitansi h3 {
    padding: 20px;
    margin: 0;
    color: #fff;
    font-size: 1.2em;
}
.kwitansi h4 {
    text-align: center;
    color: #1abc9c;
    margin: 0 0 10px;
    font-size: 1em;
}
.body-kwitansi {
    padding:  15px 60px;
    background: #fff url('logo-transparent.png') no-repeat center;
}
.body-kwitansi table {
    color: #555;
    width: 100%;
    font-size: 0.9em;
    border: none;
    background: transparent;
}
.body-kwitansi td:last-child {
    font-weight: bold;
}
table.footer-kwitansi td:last-child hr {
    margin: 0;
}
table.footer-kwitansi td:last-child {
    width: 150px;
    font-weight: normal;
    text-align: center;
}